PORT=5000
DATABASE_URL='mongodb connection string'

## Warning: Make sure you generate new keys before you deploy your application and add .env to your .gitignore
# Generate new keys: https://travistidwell.com/jsencrypt/demo/
# Base64 encode the keys: https://www.base64encode.org/
ACCESS_TOKEN_PUBLIC_KEY=""
ACCESS_TOKEN_PRIVATE_KEY=""
REFRESH_TOKEN_PRIVATE_KEY=""
REFRESH_TOKEN_PUBLIC_KEY=""
